includes:
    - vendor/shopwarelabs/phpstan-shopware/rules.neon

parameters:
    level: 5
    paths:
        - src/
    ignoreErrors:
        - identifier: shopware.internalClassExtends
          path: src/Storefront/Controller/ContextControllerDecorator.php
        # Shopware's own NotificationService is @internal, but there is no public API to create notifications.
        - identifier: shopware.internalClassExtends
          path: src/Core/Notification/NotificationService.php
        - identifier: method.notFound
          path: src/Service/Loader/NeosDimensionLoader.php
