<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../vendor/shopware/core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>nlxNeosContent Settings</title>
        <title lang="de-DE">nlxNeosContent Einstellungen</title>
        <input-field type="text">
            <name>neosBaseUri</name>
            <label>The uri of the headless neos system</label>
            <label lang="de-DE">Die Uri des Headless-Neos Systems</label>
            <placeholder>https://neos.neos-shopware.netlogix-demo.de</placeholder>
            <defaultValue>https://neos.neos-shopware.netlogix-demo.de</defaultValue>
        </input-field>
    </card>
</config>
