{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{# @var page \Shopware\Storefront\Page\LandingPage\LandingPage|\Shopware\Storefront\Page\CategoryPage\CategoryPage #}

{% block cms_content %}
    {% set cmsPageClasses = ('cms-page ' ~ cmsPage.cssClass|striptags)|trim %}
    {% set landingPage = {} %}
    <div class="{{ cmsPageClasses }}">
        {% block page_content_blocks %}
            {{ parent() }}
        {% endblock %}
    </div>
    {{ parent() }}
{% endblock %}
