{% block sw_category_content %}
    <template #content>
        <div class="sw-category__content">
            <div class="sw-card-view sw-category-view">
                <div class="sw-card-view__content">
                    <nlx-neos-layout-card
                        :nlxNeosCategory="nlxNeosCategory"
                    />
                </div>
            </div>
        </div>
    </template>
{% endblock %}
