{% block sw_category_layout_card %}
    <mt-card
            class="sw-category-layout-card"
            position-identifier="sw-category-layout"
            :title="$tc('sw-category.base.cms.title')"
            :is-loading="false"
    >
        <div class="sw-category-layout-card__base-layout">
            <div class="sw-category-layout-card__preview" tabindex="0">
                <nlx-neos-category-list-item/>
            </div>
            <div class="sw-category-layout-card__desc">
                <div class="sw-category-layout-card__desc-info">
                    <div class="sw-category-layout-card__desc-headline">
                        {{ cmsPage ? cmsPage.name : $tc('sw-category.base.cms.defaultTitle') }}
                    </div>
                    <div class="sw-category-layout-card__desc-subheadline">
                        {{ pageTypeTitle }}
                    </div>
                </div>
                <div class="sw-category-layout-card__desc-actions">
                    <sw-button
                            class="sw-category-detail-layout__open-in-pagebuilder"
                            size="small"
                            :disabled="!acl.can('category.editor')"
                            @click="openInNeos"
                    >
                        {{ $tc('sw-category.base.cms.editInNeos') }}
                    </sw-button>
                    <sw-button
                            class="sw-product-preview__button sw-product-layout-assignment__button"
                            size="small"
                            :disabled="!acl.can('category.editor') || undefined"
                            @click="openPreviewModal"
                    >
                        {{ $tc('sw-category.base.cms.preview.buttonText') }}
                    </sw-button>
                    <nlx-preview-modal
                            v-if="showPreviewModal"
                            :headline="$tc('sw-category.base.cms.preview.modal.headline')"
                            :cmsPageId="cmsPage.id"
                            @modal-preview-select="onSelectPreview"
                            @modal-close="onClosePreviewModal"
                    ></nlx-preview-modal>
                </div>
            </div>
        </div>
    </mt-card>
{% endblock %}