name: Create Upmerge PR

on:
  push:
    branches:
      - develop

jobs:
  upmerge:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - run: |
          OPEN_PR=$(gh pr list --head=develop --base=main --json=url)

          if [ "$OPEN_PR" != "[]" ]; then
            echo "Open PRs found, skipping..."
            exit 0
          fi

          gh pr create --base=main --head=develop --title="UPMERGE: develop -> main" --body="Merge develop to main"
