name: Update upMerge description

on:
  pull_request:
    types: [ opened, synchronize ]
    branches:
      - main

jobs:
  update-description:
    runs-on: ubuntu-latest
    steps:
      - name: Generate PR Description
        uses: netlogix-internal/action-up-merge-description@1.0.9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
