<div class="neos">

    <form ref="form" :action="config.neosBaseUri" method="post" target="neos-cms">
        <input type="hidden" name="shopwareAccessToken" required :value="config.token">
        <input type="hidden" name="apiUrl" required :value="config.apiUrl">
    </form>

    <iframe ref="iframe" name="neos-cms" id="neos-cms" src="" title="Neos CMS"></iframe>
</div>
